# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

build*/
*.pro.user*
*.DS_Store

# executeable files
*.qm

.qmake*
Makefile

# cmake
CMakeLists.txt.user

# nix
.direnv/
result
result-*

# clangd
.cache/
compile_commands.json

# qtcreator
*.autosave

